$white: #ffffff;
$asideBackgroundColor: #bdbdbd;

$mainFontColor: #000000;
$secondaryFontColor: #a3a3a3;

$defaultButtonColor: #4b51ef;
$submitButtonColor: #52cf4f;
$disabledButtonColor: #afafaf;

$formBorderColor: #f3f3f3;
$errorBorderColor: #d91313;
$defaultBorderColor: #d8d8d8;
